In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pydotplus
# import graphviz
from sklearn import ensemble
from sklearn import preprocessing
from sklearn import tree
from sklearn.model_selection import cross_val_score
import time

In [17]:
apps_df = pd.read_csv("C:\\Users\\Chris\\Documents\\Python Scripts\\Thinkful File Examples\\googlestoreapps\\googleplaystore.csv")

# Convert to numeric.
# apps_df['Rating'] = pd.to_numeric(apps_df['Rating'], errors='coerce')
apps_df['Reviews'] = pd.to_numeric(apps_df['Reviews'], errors='coerce')
apps_df['Price'] = pd.to_numeric(apps_df['Price'], errors='coerce')
apps_df['Size'] = pd.to_numeric(apps_df['Size'], errors='coerce')

# Drop other columns with many unique variables
apps_df.drop(['App', 'Last Updated', 'Current Ver'], 1, inplace=True)
apps_df = apps_df.dropna(subset=['Content Rating'])
apps_df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Android Ver
0,ART_AND_DESIGN,4.1,159.0,NaN,"10,000+",Free,0.0,Everyone,Art & Design,4.0.3 and up
1,ART_AND_DESIGN,3.9,967.0,NaN,"500,000+",Free,0.0,Everyone,Art & Design;Pretend Play,4.0.3 and up
2,ART_AND_DESIGN,4.7,87510.0,NaN,"5,000,000+",Free,0.0,Everyone,Art & Design,4.0.3 and up
3,ART_AND_DESIGN,4.5,215644.0,NaN,"50,000,000+",Free,0.0,Teen,Art & Design,4.2 and up
4,ART_AND_DESIGN,4.3,967.0,NaN,"100,000+",Free,0.0,Everyone,Art & Design;Creativity,4.4 and up

In [18]:
categorical = apps_df.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

Category
33
Installs
21
Type
2
Content Rating
6
Genres
119
Android Ver
33

In [19]:
X = apps_df.drop('Content Rating', axis=1)
Y = apps_df['Content Rating']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

In [20]:
Y.unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated'], dtype=object)

In [35]:
# Predict the Content Rating based on the features in X
# Decision Tree model
start_time = time.time()
decision_tree = tree.DecisionTreeClassifier(
    criterion='entropy',
    max_features=1,
    random_state = 1337
)
decision_tree.fit(X,Y)
print(decision_tree.score(X,Y))
print("--- %s seconds ---" % (time.time() - start_time))

0.9960332103321033
--- 0.12891912460327148 seconds ---

In [36]:
# Predict the Content Rating based on the features in X
start_time = time.time()
rfc = ensemble.RandomForestClassifier(criterion='entropy')
rfc.fit(X,Y)
print(rfc.score(X,Y))
print("--- %s seconds ---" % (time.time() - start_time))
# cross_val_score(rfc, X, Y, cv=10)

0.9808118081180812
--- 0.4237487316131592 seconds ---